@charset "utf-8";
/* CSS Document */

/* body 공통 속성 */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-family:'나눔고딕',nanumgothic,'돋움',dotum,AppleGothic;font-size:12px}
ul,ol{list-style:none}
img {border:0;vertical-align:top;}
div {color:#333;}
bold {color:#ff9600; font:bold 12px dotum;}

/**
 * 	Flash Screen
 */
div#flash_screen_overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	min-height: 150px;
	background-color: #3B3B3B;
	border-bottom: 1px solid #000;
	padding-top: 10px;
	padding-bottom: 10px;
	opacity: 0.9;
	display: none;	
}

div#flash_screen_overlay div#close_flash_screen {
	float: right;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 5px;
	cursor: pointer;
}

div#flash_screen {
	width: 600px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0 auto;
}

div#flash_screen h1 {
	color: #FFF;
}

div#flash_screen ul {
	margin-top: 20px;
	margin-left: 20px;
}

div#flash_screen ul li {
	font-size: 1.3em;
	color: #FFF;
	margin-bottom: 15px;
}

div#flash_screen ul li div {
	float: left;
	margin-right: .7em;
}

div#flash_screen ul li.error {}

div#flash_screen ul li.notice {}